/* details*/

header {
    font-size: large;
    border: solid 0.1rem;
}

h2,
header {
    text-align: center;
    /* font-family: ; */
}

p {
    line-height: 1.5rem;
    padding-left: 1rem;

}

figcaption {
    margin-left: 70rem;
}

hr {
    border: none;
    border-top: 1px solid rgb(100, 175, 209);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 50%;
    margin: auto;
}

/* page elements*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ncclspic {
    width: 20rem;

}

#newspic {
    padding: 2rem;
    width: 10rem;

}

#ansipic {
    width: 20rem;
}

#clsipic {
    width: 20rem;
    padding-left: 2rem;
    ;
}

iframe {
    width: 20rem;
    height: 20rem;
}

@media screen and (max-width:1080px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}