.excellence {
    padding-top: 50px;
    padding-left: 250px;
    padding-bottom: 50px;
}

.our_vision {
    padding-top: 50px;
    padding-left: 250px;
    padding-bottom: 50px;
}

.our_mission {
    padding-top: 50px;
    padding-left: 250px;
    padding-bottom: 50px;
}
.our_values {
    padding-top: 50px;
    padding-left: 250px;
    padding-bottom: 50px;
}


.inter{
    text-align: center;
}